__pycache__/
*.py[cod]

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

*.manifest
*.spec

pip-log.txt
pip-delete-this-directory.txt

*.mo
*.pot

docs/_build/

target/


*.log
*.pot
*.pyc
__pycache__/
local_settings.py

.env
db.sqlite3
