{% extends "base.html" %}

{% block content %}
<div class="container maincontent" style="min-height: 96px;">
  <div class="row text-center">
    <div class="panel panel-default">
      <div class="row text-center">
        <div class="col-md-6">
          <h4>Select below the type of account you want to create</h4><br/>
        </div>
        <div class="col-md-6">
          <h4>Already have an account?</h4><br/>
        </div>
      </div>
      <div class="row text-center"   style="align: middle">
        <div class="col-md-6">
          <div class="login__register-link"><br/>
            <div class="col-md-6">
              <img class="signup-img lazypreload lazyloaded" data-src="https://image.flaticon.com/icons/svg/163/163843.svg" srcset="https://image.flaticon.com/icons/svg/163/163843.svg 2x" src="https://image.flaticon.com/icons/svg/163/163843.svg">
            </div>
            <div class="col-md-6">
              <img class="signup-img lazypreload lazyloaded" data-src="https://image.flaticon.com/icons/svg/163/163834.svg" srcset="https://image.flaticon.com/icons/svg/163/163834.svg 2x" src="https://image.flaticon.com/icons/svg/163/163834.svg">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="login__register-link"><br/><br/><br/>
              <img style="width: 25%; height: 25%;" class="signup-img lazypreload lazyloaded" data-src="https://image.flaticon.com/icons/svg/167/167713.svg" srcset="https://image.flaticon.com/icons/svg/167/167713.svg 2x" src="https://image.flaticon.com/icons/svg/167/167713.svg">
          </div>
        </div>
      </div>
      <div class="row text-center">
        <div class="login__register-link"><br/>
          <div class="col-md-6">
            <div class="col-md-6">
                <a href="{% url 'parent_signup' %}" class="btn btn-parent btn-lg" role="button">I'm a Parent!</a>
            </div>
            <div class="col-md-6">
              <a href="{% url 'provider_signup' %}" class="btn btn-provider btn-lg" role="button">I'm a Provider!</a>
            </div>
          </div>
          <div class="col-md-6">
            <a href="{% url 'login' %}" class="btn btn-provider btn-lg" role="button">LogIn!</a></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
