{% extends "base.html" %}

{% block content %}
<head>
  {% if user.is_authenticated %}
  <script language="javascript">
    window.location.href = "/profile/"
  </script>
  {% endif %}
</head>

<header class="masthead">
  <div class="container">
    <br>
    <img src="../../static/images/lorem-ipsum-logo.jpg" width="50%" alt=""><br><br>
    <p>Εγγραφή</p><br>
  </div>
</header>

<section class="bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading text-uppercase">Γινε Μελος!</h3>
        <h3 class="section-subheading text-muted">Ως γονέας ή ως Πάροχος</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <div class="team-member">
          <a href="{% url 'parent_signup' %}"><img class="mx-auto rounded-circle" src="../../static/images/parent.png" alt="" ></a>
          <h4>Είμαι Γονέας!</h4>
          <h3 class="section-subheading text-muted"><a href="{% url 'parent_signup' %}">Εγγραφή!</a></h3>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="team-member">
          <a href="{% url 'provider_signup' %}"><img class="mx-auto rounded-circle" src="../../static/images/provider.png" alt=""></a>
          <h4>Είμαι Πάροχος!</h4>
          <h3 class="section-subheading text-muted"><a href="{% url 'provider_signup' %}">Εγγραφή!</a></h3>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <p class="large text-muted">Αν είστε ήδη εγγεγραμμένος, κάντε κλικ <a href="/accounts/login/">εδώ</a> για είσοδο στο προσωπικό σας προφίλ</p>
      </div>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <span class="copyright">Copyright © Lorem Ipsum 2018</span>
      </div>
      <div class="col-md-4">
        <ul class="list-inline social-buttons">
          <li class="list-inline-item">
            <a href="https://github.com/epilys/lorem-ipsum">
              <i class="fa fa-github"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</footer>
{% endblock %}
