{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <div class="row">
    <div class="col-md-8 col-sm-10 col-12">
      <h2>Εγγραφή σαν {{ user_type }}</h2>
      <form method="post" novalidate>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success">Εγγραφή</button>
      </form>
    </div>
  {% if user_type == 'parent' %}
    <h3>Παρακαλώ επιλέξτε στο χάρτη τον τόπο κατοικίας σας:</h3>
    <br>
    <div id="parent-location-map" style="height: 600px"></div>
    {% endif %}
  </div>
  {% load json_filters %}
<script>
var marker;
var popup = L.popup();
$(document).ready(function(){
  var mymap = L.map('parent-location-map').setView([37.9838, 23.7275], 13);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibG9yZW1pcHN1bTIwMTgiLCJhIjoiY2pkejE3bzBhMTNnYTJ4dGI2aTUzZXQ3NiJ9._Oc3vUq2Vn3uXqzphs-yrw', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.light',
      accessToken: 'pk.eyJ1IjoibG9yZW1pcHN1bTIwMTgiLCJhIjoiY2pkejE3bzBhMTNnYTJ4dGI2aTUzZXQ3NiJ9._Oc3vUq2Vn3uXqzphs-yrw'
      }).addTo(mymap);
  function onMapClick(e){
    if (marker) { // check
        mymap.removeLayer(marker); // remove
    }
    document.getElementById('id_lat').value = e.latlng.lat.toString();
    document.getElementById('id_lon').value = e.latlng.lng.toString();
    marker = L.marker([e.latlng.lat, e.latlng.lng]).addTo(mymap);
    popup
        .setLatLng(e.latlng)
        .setContent("Επιλέξατε τις συνεταγμένες: " + e.latlng.lat.toString() + " , " + e.latlng.lng.toString())
        .openOn(mymap);
  }
  mymap.on('click', onMapClick);
});
</script>

{% endblock %}
