{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% if user.is_authenticated %}
    {% if user.is_parent %}
        {% block styles %}
            <style>
                .jumbotron {
	           text-align: center;
                }
            </style>

        {% endblock %}


        {% block jumbotron %}
            <div class="jumbotron">
                <h1>Αντιστοίχηση Euro-Coins </h1>
                <p> 5€ ---> 750 (Coins) </p>
                <p> 10€ ---> 1500 (Coins) </p>
                <p> 20€ ---> 3000 + 75 (Coins) </p>
                <p> 50€ ---> 7500 + 150 (Coins) </p>
            </div>
        {% endblock %}
        
        {% block content %}
            <h1> Αγορά Coins </h1>
            <div class="col-lg-4 col-md-6 col-sm-8 col-12">
	           <form role="form" action="" method="post">
    	           {% csrf_token %}
    	           {{ form|crispy }}
    	           <button type="submit"> Αγορά </button>
	           </form>
            </div>
        {% endblock %}

    {% endif %}
{% endif %}