
{% extends 'base.html' %}
{% load crispy_forms_tags %}



{% block styles %}
    {% if user.is_authenticated %}
        {% if user.is_parent %}
            <style>
                .jumbotron {
               text-align: center;
                }
            </style>
        {% endif %}
    {% endif %}
{% endblock %}


{% block jumbotron %}
    {% if user.is_authenticated %}
        {% if user.is_parent %}
            <div class="jumbotron">
                <h1>Αντιστοίχηση Euro-Coins </h1>
                <p> 5€ ---> 750 (Coins) </p>
                <p> 10€ ---> 1500 (Coins) </p>
                <p> 20€ ---> 3000 + 75 (Coins) </p>
                <p> 50€ ---> 7500 + 150 (Coins) </p>
            </div>
        {% endif %}
    {% endif %}
{% endblock %}
        
{% block content %}
    {% if user.is_authenticated %}
        {% if user.is_parent %}
            <h1> Αγορά Coins </h1>
            <div class="col-lg-4 col-md-6 col-sm-8 col-12">
               <form role="form" action="" method="post">
                   {% csrf_token %}
                   {{ form|crispy }}
                   <button type="submit"> Αγορά </button>
               </form>
            </div>
        {% endif %}
    {% endif %}
    {% endblock %}
