{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}Καλωσήρθατε | {{ block.super }}{% endblock %}
{% block content %}


{% if filter.form %}
<div class="well">
 <form action="" method="get">
   <div class="form-group">
     {% csrf_token %}
     <div class="row">
  <div class="col-md-6">
      {{ filter.form.as_p }}
</div>
  <div class="col-md-6"></div>
     </div>
     <input type="submit" class="btn btn-primary" value="Φιλτράρισμα" />
   </div>
 </form>
</div>
{% endif %}
<h1> Αποτελέσματα σε ακτίνα 5χμ από την απόσταση σας</h1>
<!-- username is loremipsum2018,  pass is vz0,&</:A'FQlpQ:9MhL:/@U/%%,deGgea_CrDqiHv03[s~i8b^h`#y}vKV/6lfZ -->
 <div id="event-list-map" style="height: 180px"></div>
<div>
{% if event_list %}
  <input class="form-control" id="table-event-filter-input" type="text" placeholder="Φιλτράρισμα">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Τίτλος</th>
      <th>Ημερομηνία</th>
      <th>Πάροχος</th>
      <th>Κόστος</th>
      <th>Διαθεσιμότητα</th>
      <th>Ηλ. εύρος</th>
      <th></th>
    </tr>
  </thead>
  <tbody id="table-event">
    {% for e in event_list %}
    <tr>
      <td>
        <a href="{{ e.get_absolute_url }}">{{ e.title }}</a>
      </td>
      <td>{{ e.event_date }}</td>
      <td>{{ e.provider }}</td>
      <td>{{ e.cost }}</td>
      <td>{{ e.availability }}/{{ e.capacity}}</td>
      <td>{{ e.get_age_range_display }}</td>
      <td><a href="{{ e.get_absolute_url }}/buy" class="btn btn-default">Αγορά</a></td>
    </tr>
      {% endfor %}

  </tbody>
</table>
{% load json_filters %}
    {% else %}
      0 αποτελέσματα.
    {% endif %}  
<script>
$(document).ready(function(){
  var mymap = L.map('event-list-map').setView([{{ location.lat }}, {{ location.lon }}], 13);
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibG9yZW1pcHN1bTIwMTgiLCJhIjoiY2pkejE3bzBhMTNnYTJ4dGI2aTUzZXQ3NiJ9._Oc3vUq2Vn3uXqzphs-yrw', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.light',
      accessToken: 'pk.eyJ1IjoibG9yZW1pcHN1bTIwMTgiLCJhIjoiY2pkejE3bzBhMTNnYTJ4dGI2aTUzZXQ3NiJ9._Oc3vUq2Vn3uXqzphs-yrw'
      }).addTo(mymap);
  var event_list = {{ event_list | jsonify | safe }};
    for (var e of event_list) {
      /*console.log(e);*/
      var marker = L.marker([e.latitude, e.longitude]).addTo(mymap);
      var popup = marker.bindPopup("<h2><a href=\"/event/" + e.id +"\">"+ e.title + "</a></h2><strong>Κόστος</strong>" + e.cost +"<br /><strong>Ηλ. εύρος</strong>"+ e.age_range +"<br/><strong>Διαθεσιμότητα</strong> "+ e.availability +"/"+ e.capacity);

    }
    var home_location = L.circle([{{ location.lat }}, {{ location.lon }}], { color: "#ab3659", radius: 50, fillColor: "#ab3659", fillOpacity: 0.5 }).addTo(mymap);
    var popup = home_location.bindPopup("Η τοποθεσία σας").openPopup();
    var coverage_circle = L.circle([{{ location.lat }}, {{ location.lon }}], {
    color: 'green',
    fillColor: '#bbe8b2',
    fillOpacity: 0.4,
    radius: 5000
}).addTo(mymap);
  $("#table-event-filter-input").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#table-event tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>
</div>
{% endblock %}
