{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}Αγορά {{ event.title }} {{ event.event_date }}{{ block.super }}{% endblock %}
{% block content %}

<h1> Αγορά ενός εισιτηρίου για την εκδήλωση {{ event.title }}? </h1>
<div>
 <form role="form" action="" method="post">
     {% csrf_token %}
     {{ form|crispy }}
    <button type="submit" class="btn btn-default" name="buy">Αγορά</button>
    <button type="submit" class="btn btn-default" name="cancel">Ακύρωση</button>
  </form>
</div>
{% endblock %}
