{% extends 'base.html' %}

{% block content %}
 
{% if user.is_authenticated %}
    {% if user.is_parent %}
        <h1> Καλωσήρθες, {{user.username}} </h1>
		 
		<div class="container">
		      <div class="row">
		      <br>
		            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
		   
		   
		          <div class="panel panel-info">
		            <div class="panel-heading">
		              <center><h3 class="panel-title"> {{user.parent.full_name}} </h3></center>
		            </div>
		            <div class="panel-body">
		              <div class="row">
		                  <table class="table table-user-information">
		                    <tbody>
		                      <tr>
		                        <td>Διεύθυνση</td>
		                        <td> {{user.parent.address}} </td>
		                      </tr>
		                      <tr>
		                        <td>Email</td>
		                        <td><a href="mailto:">{{user.parent.email}}</a></td>
		                     </tr>
		                     <tr>
		                        <td>Υπολοιπόμενα Coins</td>
		                        <td> {{user.parent.coins}} </td>
		                      </tr>
		                     <tr>
		                        <td>Ημερομηνία Εγγραφής</td>
		                        <td> {{user.date_joined}} </td>
		                      </tr>

		                    </tbody>
		                  </table>
		                  <center>
		                  <a href="{% url 'buy_coins' %}" class="btn btn-primary">Αγορά Coins</a>
		              	  </center>
		                </div>
		              </div>
		            </div>

              <h2> Ιστορικό αγορών </h2>
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Τίτλος</th>
                  <th>Ημερομηνία Αγοράς</th>
                  <th>Διοργανωτής</th>
                  <th>Ποσότητα</th>
                  <th>Κόστος</th>
                </tr>
              {% for t in transactions %}
              <tr>
                <td>{{ t.event.title }}, {{ t.event.event_date }}</td>
                <td>{{ t.date }}</td>
                <td>{{ t.event.provider.full_name }}</td>
                <td>{{ t.amount }}</td>
                <td>{{ t.total_cost}}</td>
              </tr>
              {% endfor %}
              </table>
		          </div>
		        </div>
 
 
    {% elif user.is_provider %}
 
		 <div class="container">
		      <div class="row">
		      <br>
		            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
		   
		   
                  <p>
                  <a href="{{ user.provider.get_absolute_url }}" class="btn btn-default">Δημόσιο προφίλ</a>
                  </p>
		          <div class="panel panel-info">
		            <div class="panel-heading">
		              <center><h3 class="panel-title"> {{user.provider.full_name}} </h3></center>
		            </div>
		            <div class="panel-body">
		              <div class="row">
		                  <table class="table table-user-information">
		                    <tbody>
		                      <tr>
		                        <td>Διεύθυνση</td>
		                        <td> {{user.provider.address}} </td>
		                      </tr>
		                      <tr>
		                        <td>Email</td>
		                        <td><a href="mailto:">{{user.provider.email}}</a></td>
		                     </tr>
		                     <tr>
		                        <td>ΑΦΜ</td>
		                        <td> {{user.provider.afm}}</td>
		                     </tr>
		                     <tr>
		                        <td>ΔΟΥ</td>
		                        <td>{{user.provider.doy}}</td>
		                     </tr>
		                     <tr>
		                        <td>Νομικός Εκπρόσωπος</td>
		                        <td>{{user.provider.legal_representative}}</td>
		                     </tr>
		                     <tr>
		                        <td>Αριθμός Δελτίου Ταυτότητας</td>
		                        <td>{{user.provider.adt}}</td>
		                     </tr>
		                     {% if user.provider.site != None %}
		                     <tr>
		                        <td>Ιστοσελίδα</td>
		                        <td><a href="{{user.provider.site}}">{{user.provider.site}}</a></td>
		                     </tr>
		                     {% endif %}
		                     <tr>
		                        <td>Ημερομηνία Εγγραφής</td>
		                        <td> {{user.date_joined}} </td>
		                     </tr>
		                    </tbody>
		                  </table>
		                  <center>
		                  <a href="{% url 'edit' %}" class="btn btn-primary">Επεξεργασία Στοιχείων</a>
		                  <a href="{% url 'add_event' %}" class="btn btn-primary">Δημιουργία Εκδήλωσης</a>
		                  <a href="{% url 'change_password' %}" class="btn btn-primary">Αλλαγή Κωδικού</a>
		              	  </center>
		                </div>
		              </div>
		            </div>
		          </div>
		        </div>   
            <div class="row">
              <p> 
              Στατιστικά:
              </p>
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Κατηγορία εκδήλωσης</th>
                  <th>Ποσοστό αγορών</th>
                </tr>
              {% for e, v in stats_types.items %}
              <tr>
                <td>{{ v.type }}</td>
                <td>{{ v.counter }}%</td>
              </tr>
              {% endfor %}
              </table>
              <table class="table table-condensed table-bordered">
                <tr>
                  <th>Ηλικιακό εύρος</th>
                  <th>Ποσοστό αγορών</th>
                </tr>
              {% for e, v in stats_ranges.items %}
              <tr>
                <td>{{ v.range }}</td>
                <td>{{ v.counter }}%</td>
              </tr>
              {% endfor %}
              </table>
            </div>
             <a href="{% url 'stats_per_month' %}" class="btn btn-primary">Μηνιαία Reports</a>
     </div>
 	
 	{% else %}	<h2> You have no business here buddy. Go to the Django admin page! </h2>

    {% endif %}
 
 
{% else %} <h2>You are not authorized to enter here, please Sign Up or Log In if you have an account!</h2>
 
{% endif %}

{% endblock %}
