{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.is_parent %}
    <header class="masthead">
      <div class="container">
        <br>
        <img src="../../static/images/lorem-ipsum-profile.png" width="50%" alt=""><br><br>
        <h3>Καλωσήρθες, {{user.username}}</h3><br>
      </div>
    </header>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="panel panel-info">
              <div class="panel-heading">
                <center><h4 class="panel-title"> {{user.parent.full_name}} </h4></center><br>
              </div>
              <div class="panel-body">
                <div class="row">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Διεύθυνση</td>
                        <td> {{user.parent.address}} </td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:">{{user.parent.email}}</a></td>
                      </tr>
                      <tr>
                        <td>Υπολοιπόμενα Coins</td>
                        <td> {{user.parent.coins}} </td>
                      </tr>
                      <tr>
                        <td>Ημερομηνία Εγγραφής</td>
                        <td> {{user.date_joined}} </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><br>
          <div class="col-lg-12 text-center">
            <a class="text-center btn btn-primary btn-md" href="{% url 'buy_coins' %}">Αγορά Coins</a><br><br><br>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="row">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <th>Τίτλος</th>
                        <th>Ημερομηνία Αγοράς</th>
                        <th>Διοργανωτής</th>
                        <th>Ποσότητα</th>
                        <th>Κόστος</th>
                      </tr>
                    {% for t in transactions %}
                    <tr>
                      <td>{{ t.event.title }}, {{ t.event.event_date }}</td>
                      <td>{{ t.date }}</td>
                      <td>{{ t.event.provider.full_name }}</td>
                      <td>{{ t.amount }}</td>
                      <td>{{ t.total_cost}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% elif user.is_provider %}
    <header class="masthead">
      <div class="container">
        <br>
        <img src="../../static/images/lorem-ipsum-profile-provider.png" width="50%" alt=""><br><br>
        <h3>Καλωσήρθες, {{user.username}}</h3><br>
      </div>
    </header>

    <section class="bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="panel panel-info">
              <div class="panel-heading">
                <center><h4 class="panel-title"> {{user.provider.full_name}} </h4></center><br>
              </div>
              <div class="panel-body">
                <div class="row">
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Διεύθυνση</td>
                        <td> {{user.provider.address}} </td>
                      </tr>
                      <tr>
                        <td>Email</td>
                        <td><a href="mailto:">{{user.provider.email}}</a></td>
                      </tr>
                      <tr>
                        <td>ΑΦΜ</td>
                        <td> {{user.provider.afm}}</td>
                      </tr>
                      <tr>
                        <td>ΔΟΥ</td>
                        <td>{{user.provider.doy}}</td>
                      </tr>
                      <tr>
                        <td>Νομικός Εκπρόσωπος</td>
                        <td>{{user.provider.legal_representative}}</td>
                      </tr>
                      <tr>
                        <td>Αριθμός Δελτίου Ταυτότητας</td>
                        <td>{{user.provider.adt}}</td>
                      </tr>
                      {% if user.provider.site != None %}
                      <tr>
                        <td>Ιστοσελίδα</td>
                        <td><a href="{{user.provider.site}}">{{user.provider.site}}</td>
                        </tr>
                        {% endif %}
                        <tr>
                          <td>Ημερομηνία Εγγραφής</td>
                          <td> {{user.date_joined}} </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"><br>
          <div class="col-lg-12 text-center"><br>
            <a class="text-center btn btn-primary btn-md" href="{% url 'edit' %}">Επεξεργασία Στοιχείων</a>
            <a class="text-center btn btn-primary btn-md" href="{% url 'add_event' %}">Δημιουργία Εκδήλωσης</a>
            <a href="{% url 'change_password' %}" class="btn btn-primary">Αλλαγή Κωδικού</a>
          </div>
        </div><br><br>
        <div class="row">
          <div class="col-lg-12 text-center">
            <div class="panel panel-info">
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12 text-center">
                    <h5>Στατιστικά:</h5>
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <th>Κατηγορία εκδήλωσης</th>
                          <th>Ποσοστό αγορών</th>
                        </tr>
                        {% for e, v in stats_types.items %}
                        <tr>
                          <td>{{ v.type }}</td>
                          <td>{{ v.counter }}%</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                    <table class="table table-user-information">
                      <tbody>
                        <tr>
                          <th>Ηλικιακό εύρος</th>
                          <th>Ποσοστό αγορών</th>
                        </tr>
                        {% for e, v in stats_ranges.items %}
                        <tr>
                          <td>{{ v.range }}</td>
                          <td>{{ v.counter }}%</td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center">
            <a href="{% url 'stats_per_month' %}" class="btn btn-primary text-center">Μηνιαία Reports</a>
          </div>
        </div>
      </div>
    </section>
 	{% else %}
  <h2> You have no business here buddy. Go to the Django admin page! </h2>
  {% endif %}
{% else %}
<h2>You are not authorized to enter here, please Sign Up or Log In if you have an account!</h2>
{% endif %}
{% endblock %}
