{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block head_title %}{{ provider.full_name }} {{ block.super }}{% endblock %}
{% block content %}

<h1> {{ event.full_name }}</h1>
<div>
  <p><strong>Logo</strong> <img src= "/{{provider.logo}}" ></p>
  <p><strong>Όνομα</strong> {{ provider.full_name }}</p>
  <p><strong>e-mail</strong> {{ provider.email }}</p>
  <p><strong>Διεύθυνση</strong> {{ provider.address}}</p>
  <p><strong>Ιστοσελίδα</strong> {{ provider.site }}</p>
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Τίτλος</th>
      <th>Ημερομηνία</th>
      <th>Username</th>
    </tr>
  </thead>
  <tbody id="table-event">
    {% for e in event_list %}
    <tr>
      <td>
        <a href="{{ e.get_absolute_url }}">{{ e.title }}</a>
      </td>
      <td>{{ e.event_date }}</td>
      <td>{{ user.username }}</td>
    </tr>
      {% endfor %}

  </tbody>
</table>
{% endblock %}
